@model IEnumerable<DeadlineManagmentSystem.Models.GridModel>

@using GridMvc.Html
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="forms">
    <div class="container-fluid">
        <div class="row">
            <!-- Horizontal Form-->
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-close">
                        <div class="dropdown">
                            <button type="button" id="closeCard2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="dropdown-toggle"><i class="fa fa-ellipsis-v"></i></button>
                            <div aria-labelledby="closeCard2" class="dropdown-menu dropdown-menu-right has-shadow"><a href="#" class="dropdown-item remove"> <i class="fa fa-times"></i>Close</a><a href="#" class="dropdown-item edit"> <i class="fa fa-gear"></i>Edit</a></div>
                        </div>
                    </div>
                    <div class="card-header d-flex align-items-center">
                        <h3 class="h4">File Uploaded</h3>
                    </div>
  


                <div class="code-cut">
                    @Html.Grid(Model).Columns(columns =>
               {
                   columns.Add(c => c.Id).Titled("File Id");
                   columns.Add(c => c.CompanyName).Titled("Company");
                   columns.Add(c => c.BranchName).Titled("Branch");
                   columns.Add(c => c.DepartmentName).Titled("Department");
                   columns.Add(c => c.FileCategoryName).Titled("File Category");
                   columns.Add(c => c.FileTypeName).Titled("File Type");
                   //columns.Add(c => c.Path).Titled("Path").Filterable(true);
                   columns.Add()
                   .Encoded(false)
                   .Sanitized(false)
                   .SetWidth(30)
                   .RenderValueAs(o => Html.ActionLink("Edit", "EditAction", new { id = o.Id }));

               }).WithPaging(10)
            

         
            </div>


        </div>
    </div></div></div>
</section>

@section myScript{
    <script type="text/javascript">
    $(function () {
        //alert("Hi");
        //$.ajax(
        //            {

        //                   url: "/Display/FileGrid/",
        //                   type: "get"
        //               }
        //           ).done(function (result2) {
        //               $("#calltogrid").html(result2);
        //           });



        //});
    </script>
}

